 .formCad {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.inputContent {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 25px;
}
.imgProd {
  font-size: 20px;
  font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
  color: #515151;
}
.labelTitle {
  font-weight: bold;
  font-size: 18px;
  font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
}

#titleCad{
  color: #515151;
	font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
}
.inputContent input{
  background-color: transparent;
  font: 1.1em sans-serif;
  margin: 5px;
  padding: 10px;
  border-color: transparent;
  border-bottom-color: rgb(0, 0, 0);
  cursor: text;
}

input{
  outline: none;
}

.inputContent input:hover{
  border-bottom-color:  #33993a;
}

.inputContent textarea{
  resize: none;
  background-color: transparent;
  font: 1.1em sans-serif;
  margin: 5px;
  padding: 10px;
  border-color: rgb(0, 0, 0);
  cursor: text;
  outline: none;
}


.inputContent textarea:hover{
  border-color:  #33993a;
}

.button {
  margin-top: 50px;
  height: 50px;
  width: 150px;
  margin-right: 25px;
  color: white;
  text-align: center;
  border-color: transparent;
  border-radius: 3%;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#salvar {
  background-color:  #33993a;
}
#salvar:hover {
  background-color:  #60d668;
}

#voltar {
  background-color: rgba(2, 2, 8, 0.52);
}
#voltar:hover {
  background-color: rgba(2, 2, 8, 0.411);
}

#divButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 15%;
}

select {
  -webkit-appearance: none;  
  -moz-appearance: none; 
  appearance: none; 
  background-color: transparent;
  font: 1.1em sans-serif;
  margin: 5px;
  padding: 10px;
  border-width: 2px;
  border-color: transparent;
  border-bottom-color: rgb(0, 0, 0);
  cursor: pointer;
  outline: none;
}
select:hover {
  background-color: rgba(29, 27, 27, 0.116);
}

/* para imagem

/* Área da imagem */
#imageAreaMain {
  display: flex;
  height: 150px;
  width: 150px;
  margin-bottom: 25px;
  padding-top: 5px;
  
}

/* Esconde o input */
#selectImage {
  display: none;
}

/* Aparência que terá o seletor de arquivo */
#selectArea{
  background-color: transparent;
  cursor: pointer;
}

#selectArea img {
  height: 150px;
  width: 150px;
}